body {margin: 0;
    background-color: #000000}

  span.body {font-kerning: none;font: 13.0px 'helvetica'; color: #ffff}
  span.fagfunk {font: 11.0px 'Helvetica'; font-kerning: none; color: #ffff}
  span.tittel {font-kerning: none;font: 40.0px 'HELVETICA'; color: #ffff; margin-left: 10%; margin-top: 10px;}
  span.kontakt {font-kerning: none;font: 12.0px 'HELVETICA'; color: #ffff; position: relative; top: 20px; left: 50%;}
  span.eng {font-kerning: none;font: 12.0px 'HELVETICA'; color: #ffff; position: relative; top: 20px; left: 90%;}

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }

.meny {
  position: relative;
  top: 0px;
  left: 25%;
  }

  .enkleremåte {
    position: relative;
    top: 100px;
    left: 500px;
    }

   .reddbarnabrødtekst {
    position: absolute;
  top: 500px;
  left: 220px;
  text-align: right;
  }

  .showr {
    position: relative;
    top: 120px;
    left: 500px;
    }

.midnattsol {
position: relative;
top: 150px;
left: 500px;
}

.midnattsolbrødtekst {
position: absolute;
top: 860px;
left: 1150px;
text-align: left;
}
.image-grid{
    position: relative;
    top: 150px;
    left: 2px;
--gap: 25px;
--num-cols: 3;

box-sizing: border-box;
padding: var(--gap);

display:grid;
grid-template-columns: repeat(var(--num-cols), 1fr);
grid-auto-rows: var(--row-height);
gap: var(--gap);
}

.image-grid > img {
    height: auto;
    object-fit: cover;
}

.vrakrester{
  display: block;
  width: 70%;
  height: auto;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;

}