body {margin: 0;
    background-color: #a60505}

  span.body {font-kerning: none;font: 16.0px 'helvetica'; color: #ffff}
  span.fagfunk {font: 11.0px 'Helvetica'; font-kerning: none; color: #ffff}
  span.tittel {font-kerning: none;font: 40.0px 'HELVETICA'; color: #ffff; margin-left: 10%; margin-top: 10px;}
  span.kontakt {font-kerning: none;font: 12.0px 'HELVETICA'; color: #ffff; position: relative; top: 20px; left: 40%;}
  span.eng {font-kerning: none;font: 13.0px 'HELVETICA'; color: #ffff; position: relative; top: 20px; left: 90%;}

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(106, 0, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }

.meny {
  position: relative;
  top: 0px;
  left: 5%;
  }
  .video-container {
    width: 70%; /* Adjust width to fit layout */
    max-width: 800px; /* Prevents it from getting too wide */
    margin: 20px auto; /* Centers videos and adds spacing */
    text-align: center;
  }
  
  .video-container iframe {
    width: 75%; /* Makes sure all videos have the same width */
    height: 350px; /* Keeps them the same height */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
  .video-description {
    font-size: 16px;
    color: #dbdbdb;
    margin-top: 8px;
    font: 12.0px 'HELVETICA';
  }
  